<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-blue">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand white-font" href="#">Task Manager</a>
    </div>
    <ul class="nav navbar-nav white-font">
      <li>
        <a class="white-font" routerLink="/addTask">Add Task</a>
      </li>
      <li>
        <a class="white-font" routerLink="/viewTask">View Task</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid app-padding">
  <router-outlet></router-outlet>
</div>